<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeedFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B30D93422D99A9690087082B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B34D688C2C5663F5009232D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B34D689D2C5663F6009232D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B34D68A72C5663F6009232D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35BC9EE2CDE40A800105FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3920CF82C9DBD320059A54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
